<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}} :: {{site_title}}</title>
        <link rel="stylesheet" type="text/css" href="{{baseurl}}/assets/components/bootstrap/css/bootstrap.min.css?ver={{app_version}}" />
        <link rel="stylesheet" type="text/css" href="{{baseurl}}/assets/components/bootstrap-datepicker/bootstrap-datepicker-built.css?ver={{app_version}}" />
        <link rel="stylesheet" type="text/css" href="{{baseurl}}/all.css?ver={{app_version}}" />
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{baseurl}}/">{{site_title}}</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{baseurl}}/tags">Tags</a></li>
                        <li><a href="{{baseurl}}/create">Create</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <form class="navbar-form navbar-left" role="search" action="{{baseurl}}/search" method="get">
                            <div class="form-group">
                                <input type="text" name="s" class="form-control" placeholder="Search">
                            </div>
                        </form>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {% if user.name %}{{user.name}}{%else%}User{%endif%} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% if user.id %}
                                <li><a href="{{baseurl}}/u/{{user.id}}">Profile</a></li>
                                <li><a href="{{baseurl}}/logout">Log out</a></li>
                                {% else %}
                                <li><a href="{{baseurl}}/login">Log in</a></li>
                                <li><a href="{{baseurl}}/register">Register</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <main class="container">

            {% if alerts %}
            <div class="alerts">
                {% for alert in alerts %}
                    <div class="alert alert-{{alert.type}}">{{alert.message|raw}}</div>
                {% endfor %}
            </div>
            {% endif %}

            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </main>

        <footer class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="https://github.com/samwilson/swidau" title="Go to the {{app_title}} homepage" target="_blank">
                            {{app_title}}
                        </a>
                    </li>
                </ul>
            </div>
        </footer>

        {% if mode == 'development' %}
            <div id="queries">
            {% for query in queries %}
                <pre>{{query}}</pre>
            {% endfor %}
            </div>
        {% endif %}

        <script src="{{baseurl}}/assets/components/jquery/jquery.min.js"></script>
        <script src="{{baseurl}}/assets/components/bootstrap/js/bootstrap.min.js"></script>
        <script src="{{baseurl}}/assets/components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="{{baseurl}}/app.js?ver={{app_version}}"></script>
    </body>
</html>
