<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}} :: {{site_title}}</title>
        <link rel="stylesheet" href="//cdn.rawgit.com/mblode/marx/master/css/marx.min.css">
        <link rel="stylesheet" type="text/css" href="{{baseurl}}/all.css?ver={{app_version}}" />
    </head>

    <body>
        <main>

            <header>
                <nav>
                    <ul>
                        <li><a href="{{baseurl}}">Home</a></li>
                        <li><a href="{{baseurl}}/search">Search</a></li>
                        <li><a href="{{baseurl}}/create">Create</a></li>
                    </ul>
                </nav>
            </header>

            <div id="content">
                <h1>
                    {{title}}
                    {% if subtitle %}
                        <span class="subtitle">{{subtitle}}</span>
                    {% endif %}
                </h1>

                {% if alerts %}
                    <div class="alerts">
                        {% for alert in alerts %}
                            <div class="alert alert-{{alert.type}}">{{alert.message|raw}}</div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% block content %}
                {% endblock %}
            </div>

            <footer>
                <a href="https://github.com/samwilson/swidau" title="Go to the {{app_title}} homepage" target="_blank">
                    {{app_title}}
                </a>
                {% if mode == 'development' %}
                    {% for query in queries %}
                        <pre class="queries">{{query}}</pre>
                    {% endfor %}
                {% endif %}
            </footer>
        </main>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
        <script src="{{baseurl}}/app.js?ver={{app_version}}"></script>
    </body>
</html>
