{%extends "base.twig"%}

{% block content %}

    <form action="{{baseurl}}/save" method="post" enctype="multipart/form-data">
        <p>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{item.getTitle|raw}}" />
        </p>
        <p>
            <label>Upload:</label>
            <input type="file" id="file" name="file" />
        </p>
        <p>
            <label for="keywords">Keywords:</label>
            <input type="text" id="keywords" name="keywords" value="{{item.getKeywords}}" />
        </p>
        <p>
            <label>Date:</label>
            <input type="text" name="date" value="{{item.getDate}}" />
            <label>Granularity:</label>
            <select name="date_granularity">
            {%for g in item.getDateGranularities %}
                <option value="{{g.id}}" {% if g.id == item.getDateGranularity %}selected{% endif %}>
                    {{g.title}}
                </option>
            {% endfor %}
            </select>
        </p>
        <p>
            <label for="description">Description:</label>
            <textarea id="description" name="description">{{item.getDescription}}</textarea>
        </p>
        <p>
            <input type="submit" value="Save" />
            {% if item %}
                <input type="hidden" name="id" value="{{item.getId}}" />
                <a href="{{baseurl}}/{{item.id}}">Cancel</a>
            {% endif %}
        </p>
    </form>

{% endblock %}
