{%extends "base.twig"%}

{% block content %}

<h1>
    {{title}}
    <small><a href="{{baseurl}}/{{item.getid}}" class="btn btn-default">Cancel</a></small>
</h1>

<form action="{{baseurl}}/save" method="post" enctype="multipart/form-data" class="form">
    <p class="form-group">
        <label for="title" class="control-label">Title:</label>
        <input type="text" id="title" name="title" value="{{item.getTitle}}" class="form-control" />
    </p>
    <p>
        <label for="tags" class="control-label">Tags:</label>
        {{item.getTagsString}}
        <input type="text" id="tags" name="tags" value="{{item.getTagsString}}" class="form-control" />
    </p>
    <div class="row">
        <p class="col-md-6">
            <label class="control-label">Date:</label>
            <input type="text" name="date" value="{{item.getDate}}" class="form-control datepicker" />
        </p>
        <p class="col-md-6">
            <label class="control-label" for="date_granularity">Granularity:</label>
            <select name="date_granularity" id="date_granularity" class="form-control">
                {% for dg in item.getDateGranularities %}
                <option value="{{dg.id}}">{{dg.name}}</option>
                {% endfor %}
            </select>
        </p>
    </div>
    <p>
        <label for="description" class="control-label">Description:</label>
        <textarea id="description" name="description" class="form-control" rows="5">{{item.getDescription}}</textarea>
    </p>
    <div id="fileContents">
        <label for="fileContents">File contents:</label>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#direct-entry" role="tab" data-toggle="tab">Direct text entry</a></li>
          <li role="presentation"><a href="#upload" role="tab" data-toggle="tab">Upload</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <p role="tabpanel" class="tab-pane active" id="direct-entry">
                <textarea name="file_contents" id="fileContents" class="form-control" rows="20">{% if item.isText() %}{{fileContents}}{% endif %}</textarea>
            </p>
            <p role="tabpanel" class="tab-pane" id="upload">
                <input type="file" id="fileContents" name="file" />
            </p>
        </div>
    </div>
    <div class="row">
        <p class="col-md-6">
            <label class="control-label" for="read_group">Read group:</label>
            <select class="form-control" name="read_group" required>
                <option></option>
                {% for group in user.getGroups %}
                <option value="{{baseurl}}/g/{{group.id}}" {% if group.id == item.getReadGroup %}selected{% endif %}>
                    {{group.name}}
                </option>
                {% endfor %}
            </select>
        </p>
        <p class="col-md-6">
            <label class="control-label" for="edit_group">Edit group:</label>
            <select class="form-control" name="edit_group" required>
                <option></option>
                {% for group in user.getGroups %}
                    <option value="{{baseurl}}/g/{{group.id}}" {% if group.id == item.getEditGroup %}selected{% endif %}>
                        {{group.name}}
                    </option>
                {% endfor %}
            </select>
        </p>
    </div>
    <p class="buttons">
        <input type="submit" value="Save" class="btn btn-primary" />
        {% if item %}
            <input type="hidden" name="id" value="{{item.getId}}" />
            <a href="{{baseurl}}/{{item.id}}" class="btn btn-default">Cancel</a>
        {% endif %}
    </p>
</form>

{% endblock %}
