{% extends "base.twig" %}

{% block content %}
    <h1>{{title}}</h1>

    <div class=" row">
        {% for item in items %}
        <div class="col-lg-2">
            <a href="{{baseurl}}/{{item.id}}" class="thumbnail text-center">
                <p>{{item.title}}</p>
{{dump(item.isImage())}}
                {% if item.isImage() %}
                <p><img src="{{baseurl}}/{{item.id}}_t.png" class="img-responsive" /></p>
                {% endif %}
                {{item.description|markdown|raw}}
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}