{% extends "base.twig" %}

{% block content %}
    <h1>{{title}}</h1>

   {% if tags %}
        <ol class="tag-list list-inline">
            {% for tag in tags %}
                <li data-item-count="{{tag.item_count}}">
                {% if tagsIdent.contains(tag.id) %}
                    <strong class="btn btn-default">
                        {{tag.title}}
                        <a href="{{baseurl}}/t/{{tagsIdent.toString(null, tag.id)}}" title="Remove from selection" class="addremove">[-]</a>
                    </strong>
                {% else %}
                    <a href="{{baseurl}}/t/{{tag.id}}" title="Show all items tagged '{{tag.title}}'">
                        {{tag.title}}
                    </a>
                    <span title="{{tag.item_count}} items have this tag">({{tag.item_count}})</span>
                    <a href="{{baseurl}}/t/{{tagsIdent.toString(tag.id)}}" title="Show only these {{tag.item_count}} items" class="addremove">
                        [+]
                    </a>
                {% endif %}
                </li>
            {% endfor %}
        </ol>
    {% endif %}

    <div class=" row">
        {% for item in items %}
        <div class="col-lg-2">
            <a href="{{baseurl}}/{{item.id}}" class="thumbnail text-center">
                <h3>{{item.title}}</h3>
                {% if item.isImage() %}
                <p><img src="{{baseurl}}/{{item.id}}_t.png" class="img-responsive" /></p>
                {% endif %}
                {{item.description|markdown|raw}}
                <p class="tags">
                {% for tag in item.tags %}
                    <span class="tag">{{tag.title}}</span>
                {% endfor %}
                </p>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
