{% extends "base.twig" %}

{% block content %}
    <h1>{{title}}</h1>

    {% if tags %}
        <ol class="tag-list list-inline">
            {% for tag in tags %}
                <li data-item-count="{{tag.item_count}}">
                    {{tag.title}} ({{tag.item_count}})
                    <a href="{{baseurl}}/t/{{tag.id}}" class="btn btn-default">+</a>
                    <a href="" class="label">-</a>
                </li>
            {% endfor %}
        </ol>
    {% endif %}

    <div class=" row">
        {% for item in items %}
        <div class="col-lg-2">
            <a href="{{baseurl}}/{{item.id}}" class="thumbnail text-center">
                <h3>{{item.title}}</h3>
                {% if item.isImage() %}
                <p><img src="{{baseurl}}/{{item.id}}_t.png" class="img-responsive" /></p>
                {% endif %}
                {{item.description|markdown|raw}}
                {% for tag in item.tags %}
                    <span class="tag label label-default">{{tag.title}}</span>
                {% endfor %}
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
