{%extends "base.twig"%}

{% block content %}

<h1>{{title}}</h1>

<div class="well">
<ul class="list-inline">
    {% if item.getDate %}
    <li>{{item.getDateFormatted}}</li>
    {% endif %}
    {% if item.getMimeType() %}
    <li>Mime type: {{item.getMimeType()}}</li>
    {% endif %}
    <li>
        Access control:
        Read: <a href="{{baseurl}}/g/{{item.getReadGroup().id}}">{{item.getReadGroup().name}}</a>
        Edit: <a href="{{baseurl}}/g/{{item.getEditGroup().id}}">{{item.getEditGroup().name}}</a>
    </li>
    {% if item.editable %}
    <li><a href="{{baseurl}}/{{item.getId}}/edit">Edit</a></li>
    {% endif %}
</ul>

{{item.getDescription|markdown|raw}}

{% if tags %}
<ol id="tags" class="list-inline">
    <li>Tags:</li>
    {% for tag in tags %}
        <li><a href="{{baseurl}}/+{{tag.id}}" class="label label-default">{{tag.title}}</a></li>
    {% endfor %}
</ol>
{% endif %}
</div>

{% if item.getMimeType == 'text/plain' %}
{{item.getFileContents|markdown|raw}}
{% endif %}

{% if item.isImage() %}
<p>
    <a href="{{baseurl}}/{{item.id}}_o.png">
        <img src="{{baseurl}}/{{item.id}}_t.png" height="200" width="200" />
    </a>
</p>
{% endif %}

{% endblock %}
