{%extends "base.twig"%}

{% block content %}

    <p><a href="{{baseurl}}/{{item.getId}}/edit">[Edit]</a></p>

    <p>Date: {{item.getDate}}</p>

    {{item.getDescription}}

    <ol id="keywords">
        {% for keyword in keywords %}
            <li><a href="{{baseurl}}/+{{keyword.id}}">{{keyword.title}}</a></li>
        {% endfor %}
    </ol>

{% endblock %}
