{%extends "base.twig"%}

{% block content %}

    <ul class="list-inline">
        {% if item.getDate %}
        <li>{{item.getDateFormatted}}</li>
        {% endif %}
        <li><a href="{{baseurl}}/{{item.getId}}/edit">Edit</a></li>
    </ul>


    {{item.getDescription}}

    <ol id="keywords" class="list-inline">
        {% for keyword in keywords %}
            <li><a href="{{baseurl}}/+{{keyword.id}}" class="label label-default">{{keyword.title}}</a></li>
        {% endfor %}
    </ol>

    
{% endblock %}
